language: php

php:
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'
  - '7.4'

script:
  - php -l "ETwigViewRenderer.php"
  - php -r "copy('composer.json', 'test/composer.json');"
  - composer update -d ./test
  - php -r "if (!is_dir ('./test/vendor/vintagesucks')) { mkdir('./test/vendor/vintagesucks', 0755, true); }"
  - php -r "if (!is_dir ('./test/vendor/vintagesucks/twig-renderer')) { mkdir('./test/vendor/vintagesucks/twig-renderer', 0755, true); }"
  - php -r "copy('ETwigViewRenderer.php', 'test/vendor/vintagesucks/twig-renderer/ETwigViewRenderer.php');"
  - cd test && php -r test/index.php > ../index.html
  - php -r "if (file_get_contents('index.html') !== 'HELLO WORLD') { throw new Exception(file_get_contents('index.html')); };"

cache:
  directories:
  - "$HOME/.composer/cache"